<div class="m-2">
  <!-- Button Variants -->
  <idk-divider-content>Button</idk-divider-content>
  <p class="text-semibold text-lg">Enabled</p>
  <idk-button [icon]="'fluent-icons/add_20_filled'"
    >Button with Icon</idk-button
  >
  <idk-button>Simple button</idk-button>
  <p class="text-semibold text-lg">Disabled</p>
  <idk-button [icon]="'fluent-icons/add_20_filled'" [disabled]="true"
    >Button with Icon</idk-button
  >
  <idk-button [disabled]="true">Simple button</idk-button>
  <p class="text-semibold text-lg">Accent</p>
  <idk-button [icon]="'fluent-icons/add_20_filled'" [accent]="true"
    >Button with Icon</idk-button
  >
  <idk-button [accent]="true">Simple button</idk-button>

  <!-- Data Grid -->
  <idk-divider-content>Paginated Data Grid</idk-divider-content>
  <idk-paginated-data-grid></idk-paginated-data-grid>

  <!-- Divider Variants -->
  <idk-divider-content>Divider</idk-divider-content>
  <p class="text-semibold text-lg">Simple Divider</p>
  <div class="w-1/3">
    <idk-divider></idk-divider>
  </div>
  <p class="text-semibold text-lg">Divider with Content</p>
  <div class="w-1/3">
    <idk-divider-content class="w-20">content</idk-divider-content>
  </div>

  <!-- Identity Bar -->
  <idk-divider-content>Identity Bar</idk-divider-content>
  <p class="text-2xl font-semibold">TODO</p>

  <!-- Navigation Bar -->
  <idk-divider-content>Navigation Bar</idk-divider-content>
  <p class="text-2xl font-semibold">TODO</p>

  <!-- Tool Bar -->
  <idk-divider-content>Tool Bar</idk-divider-content>
  <p class="text-2xl font-semibold">TODO</p>

  <!-- Breadcrumbs -->
  <idk-divider-content>Breadcrumbs</idk-divider-content>
  <p class="text-2xl font-semibold">TODO</p>

  <!-- Avatar -->
  <idk-divider-content>Avatar</idk-divider-content>
  <p class="text-2xl font-semibold">TODO</p>
</div>
